body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.letter0 {
  background-color: #E5D800;
}

.letter1 {
  background-color: #A9E100;
}
.letter2 {
  background-color: #64DD00;
}
.letter3 {
  background-color: #21D900;
}
.letter4 {
  background-color: #00D51F;
}
.letter5 {
  background-color: #00D25E;
}
.letter6 {
  background-color: #00CE9A;
}
.letter7 {
  background-color: #00C0CA;
}
.letter8 {
  background-color: #0081C8;
}
.letter9{
  background-color: #0044C2;
}
.letter10 {
  background-color: #0009BF;
}

.step {
  font-size: 30px;
  color: rgba(0,0,0,0.20);
  position: relative; 
  bottom: 3px; 
  right:3px;
  z-index: 30;
  //float: right;
}

.table-container {
  width: 400px;
  height: 400px;
}

table#ruzzle-table td {
  width: 80px;
  height: 80px;
}
.cell {
  width: 100px;
  height: 100px;
}

.letter {
  z-index: 5;
  font-size: 60px;
  float: left;
  font-weight: 1000;
}

.word {
  font-size: 100px;
  font-weight: 1000;
}

.line {
    position: absolute; /* allows to position it anywhere */
    width: 20px; /* your chosen line width */
    background-color: rgba(0,0,0,0.20); /* line color */
    z-index: 1000; /* make sure this is above your other elements */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    /* transform-origin sets rotation around top left (instead of the geometrical center) */
}
